frontend/src/components/login.js
frontend/src/components/resetPassword.js
frontend/src/components/user_student_registration.js
frontend/src/components/user_teacher_registration.js
frontend/src/components/user__resetPassword.js
frontend/src/components/user_certificate.js
frontend/src/components/user_login.js
